
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.webStyle {
    background: url(../public/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	opacity: 90%;
    background-size: cover;
    background-color: transparent;
}
body{
    background-color: transparent;
}
.textLog{
    color: black;
    font-weight: bold;
}

#first{
    color: lightcoral;
}


#page-wrap1 { width: 80%; margin: 50px auto; padding: 20px; background: lightgray; -moz-box-shadow: 0 0 20px black; -webkit-box-shadow: 0 0 20px black; box-shadow: 0 0 20px black; }
